body {
    margin:0;
    padding: 0;
    font-family: 'Roboto', serif;
    z-index: 99;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
    background-position: top center !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    background-size: cover !important;
    font-family: 'Satisfy', cursive;
 }
 
 #logo { 
   float: left;
   display: inline-block;
   margin-top: 5px;
   height: 60px;
   width: 72px;
   margin-bottom: 5px;
 }
 #main-header{
    position: relative;
    z-index: 99999;
    top: 0;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    font-weight: 500;
    line-height: 23px;
    background-color: #15570a;
 }
 .clear {
   clear: both;
 }
 /* #logo{
    margin-top: 10px;
    min-height: 140px;
    min-width: 172px;
 } */
 
 #nav {
     background-color: #15570a;
     color: white;
     width: 100%;
     max-width: 100%;
     padding-right: 30px;
     padding-left: 30px;
     position: fixed;
     z-index: 999;
 }
 .nav {
   float: right;
   list-style: none;    /*gets rid of bullet points*/ 
     text-align: left;
     /*padding: 0px -10px 0px -10px; */
   margin: 0;
 }
 .nav > li {                                                             /*max-width: 768px*/
     display:Inline-block;
     padding: 10px 9px 10px 9px;                               /*nav bar text*/
 }
 
  .nav > li a {                                               
      text-decoration: none;
      color: white;
      font-size: 20px;
      text-shadow: 1px 0 0 bisque;
      cursor: pointer
      /* padding: 5px 0px 5px 0px */
  }
  .nav>li>a:focus ,.nav>li>a:hover {
    text-decoration: none;
      color: white;
      font-size: 20px;
      /* text-shadow: 1px 0 0 bisque; */
      cursor: pointer;
      text-shadow: none;
  }
 
  .nav > li > a:hover {
      color: black;
  }
 
  @media handheld and (max-width:768px),
      screen and (max-width: 768px) {
  #logo{
    visibility: hidden; 
  }
} 